body {
	background-image: url(images/dot-network.jpg);
	background-attachment: fixed;
	background-repeat: repeat;
	
}

.jumbotron {
	background-image: url(images/skyline.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
}

.jumbotron h1 {
	color: #127;
}